.DS_Store
.idea/*
**/.idea/
.idea/workspace.xml
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# Testing Data
model_notebooks/svm_model/DF_genres_hashed.pkl

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
spotipy/spotipy_test/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

data_collection/env_vars.py
data_collection/final_data/DF_v1.pkl
Flask_AWS/SOUNDDRIP/zip_for_aws_sample/flask_app.zip
data_collection/song_list.db
data_collection/song_list copy.db
data_collection/for_backend/song_list4.sqlite3
data_collection/final_data/DF_v2.pkl
data_collection/final_data/DF_v2.csv
data_collection/song_list_v2.db
data_collection/song_list_v2_backup.db
data_collection/final_data/DF_v3.pkl
data_collection/song_list_v3.db
data_collection/song_list_v2 copy.db
data_collection/song_list_v2.db
data_collection/song_list_v2_backup.db
data_collection/final_data/DF_v3.pkl
model_notebooks/DF_v3.pkl
data_collection/song_list_v3.db
data_collection/final_data/DF_v4.pkl
model_notebooks/DF_genres_hashed.pkl
model_notebooks/DF_v4.pkl
model_notebooks/data/X_array.pkl
model_notebooks/data/song_list_v4_hashed.pkl
model_notebooks/data/song_list_v5_hashed.pkl
model_notebooks/data/DF_Genres_List_v1.pkl
model_notebooks/song_list_v4_hashed.pkl
model_notebooks/song_list_v4_hashed (1).pkl
model_notebooks/DBSCAN_Model.pkl
Flask_AWS/SOUNDDRIP/sounddrip/
RDS-postgres/SOUNDDRIP/models/scalar2.joblib
RDS-postgres/SOUNDDRIP/models/model2.joblib
RDS-postgres/SOUNDDRIP/data/song_id_list2.pkl
RDS-postgres/SOUNDDRIP/data/song_id_list2.joblib
model_notebooks/data/song_list_v6_genre_embeds.pkl
model_notebooks/data/song_list_v6.pkl
model_notebooks/data/model2.joblib
model_notebooks/data/knn_model7.joblib
model_notebooks/data/DF_v4.pkl
model_notebooks/data/DF_genres_hashed.pkl
Flask_notebooks/models/slider_model6.joblib
Flask_notebooks/models/scalar3.joblib
Flask_notebooks/models/model5.joblib
Flask_notebooks/env_vars.py
Flask_notebooks/data/song_id_array3.pkl
Flask_notebooks/data/genres_array_2.pkl
Flask_AWS/SOUNDDRIP/zip_for_aws_sample/flask_app022920_v1.zip
Flask_AWS/SOUNDDRIP/zip_for_aws_sample/flask_app022820_v2.zip
Flask_AWS/SOUNDDRIP/zip_for_aws_sample/flask_app022820_v1.zip
Flask_AWS/SOUNDDRIP/zip_for_aws_sample/flask_app022720_v3.zip
Flask_AWS/SOUNDDRIP/zip_for_aws_sample/flask_app022720_v2.zip
Flask_AWS/SOUNDDRIP/zip_for_aws_sample/flask_app022720.zip
Flask_AWS/SOUNDDRIP/models/slider_model6.joblib
Flask_AWS/SOUNDDRIP/models/scalar3.joblib
Flask_AWS/SOUNDDRIP/models/model5.joblib
Flask_AWS/SOUNDDRIP/flask_app.zip
Flask_AWS/SOUNDDRIP/data/song_id_array3.pkl
Flask_AWS/SOUNDDRIP/data/genres_array_2.pkl
_archive_Flask__Heroku/SOUNDDRIP/models/scalar2.joblib
_archive_Flask__Heroku/SOUNDDRIP/models/model2.joblib
_archive_Flask__Heroku/SOUNDDRIP/data/song_id_list2.pkl
_archive_Flask__Heroku/SOUNDDRIP/data/song_id_list2.joblib
model_notebooks/data/song_id_array3.pkl
model_notebooks/data/song_list_v4_hashed(1).pkl
model_notebooks/model3.joblib
model_notebooks/data/model3.joblib
model_notebooks/data/genres_array.pkl
model_notebooks/data/genres_array_2.pkl
*.pkl
Flask_notebooks/models/model4.joblib
Flask_notebooks/models/scalar2-Copy1.joblib
Flask_notebooks/models/scalar2.joblib
model_notebooks/data/model4.joblib
model_notebooks/data/model5.joblib
*.joblib
Flask_notebooks/data/song_id_list2(1).joblib
Flask_notebooks/models/scalar2-Copy1.joblib
Flask_notebooks/env_vars.py
Flask_notebooks/models/model2.joblib
model_notebooks/knn_model_v1.ipynb
model_notebooks/knn_model_v3_with_genre_filtering.ipynb
Flask_AWS/SOUNDDRIP/flask_app.zip
Flask_AWS/SOUNDDRIP/zip_for_aws_sample/flask_app/test.py
Flask_AWS/SOUNDDRIP/zip_for_aws_sample/flask_app/requirements.txt
Flask_AWS/SOUNDDRIP/zip_for_aws_sample/flask_app/models/predict.py
Flask_AWS/SOUNDDRIP/zip_for_aws_sample/flask_app/misc/robots.txt
Flask_AWS/SOUNDDRIP/zip_for_aws_sample/flask_app/application.py
Flask_AWS/SOUNDDRIP/zip_for_aws_sample/flask_app/.ebextensions/SounddripDev-env.config

Flask_AWS/SOUNDDRIP/data/genres_array_2.pkl
Flask_AWS/SOUNDDRIP/data/song_id_array3.pkl
Flask_AWS/SOUNDDRIP/models/model5.joblib
Flask_AWS/SOUNDDRIP/models/scalar3.joblib
Flask_AWS/SOUNDDRIP/models/slider_model6.joblib
Flask_notebooks/env_vars.py
_archive_Flask__Heroku/SOUNDDRIP/data/song_id_list2.joblib
_archive_Flask__Heroku/SOUNDDRIP/data/song_id_list2.pkl
_archive_Flask__Heroku/SOUNDDRIP/models/model2.joblib
_archive_Flask__Heroku/SOUNDDRIP/models/scalar2.joblib
Flask_AWS/SOUNDDRIP/flask_app.zip
Flask_AWS/SOUNDDRIP/zip_for_aws_sample/flask_app022720.zip
Flask_AWS/SOUNDDRIP/zip_for_aws_sample/flask_app022720_v2.zip
Flask_AWS/SOUNDDRIP/zip_for_aws_sample/flask_app022720_v3.zip
Flask_AWS/SOUNDDRIP/zip_for_aws_sample/flask_app022820_v1.zip
Flask_AWS/SOUNDDRIP/zip_for_aws_sample/flask_app022820_v2.zip
model_notebooks/model2.joblib
Flask_AWS/SOUNDDRIP/zip_for_aws_sample/flask_app022920_v1.zip
Flask_AWS/SOUNDDRIP/zip_for_aws_sample/flask_app022920_v1.zip
Flask_notebooks/data/genres_array_2.pkl
Flask_notebooks/data/song_id_array3.pkl
Flask_notebooks/models/model5.joblib
Flask_notebooks/models/scalar3.joblib
Flask_notebooks/models/slider_model6.joblib
model_notebooks/data/DF_genres_hashed.pkl
model_notebooks/data/DF_v4.pkl
model_notebooks/data/knn_model7.joblib
model_notebooks/data/model2.joblib
model_notebooks/data/song_list_v6.pkl
model_notebooks/data/song_list_v6_genre_embeds.pkl
